<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	>

    <!-- enable Spring @Component scan -->
    <context:component-scan base-package ="io.java.springboot"></context:component-scan>

    <!--<bean id="configService" class="io.java.springboot.config.ConfigService"/>-->

    <import resource="classpath*:camel/camel-context.xml"/>

    <bean id="castorMarshaller" class="org.springframework.oxm.castor.CastorMarshaller" >
        <property name="mappingLocation" value="classpath:mapping.xml" />

    </bean>


    <bean id="XmlConverter" class="io.java.springboot.config.XMLConverter">
        <property name="marshaller" ref="castorMarshaller" />
        <property name="unmarshaller" ref="castorMarshaller" />
    </bean>

</beans>